.spots {
  display: none;
}

@media (min-width: 1024px) {
  .spots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px 8%;
  }

  .spot {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 700px;
  }

  .spot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }

  .static-image {
    opacity: 1;
    z-index: 1;
  }

  .hover-animation {
    opacity: 0;
    z-index: 2;
  }

  .spot:hover .hover-animation {
    opacity: 1;
  }

  .spot:hover .static-image {
    opacity: 0;
  }

  .spot-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    text-align: center;
    z-index: 3;
  }

  .spot h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #22a186;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.274);
    display: inline-block;
    width: 100%;
    max-width: 90%;
    font-size: 1.8rem;
    line-height: 1.3;
    font-family: "Helvetica Neue", sans-serif;
  }

  .spot-btn {
    background-color: #22a186;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
  }

  .spot-btn:hover {
    background-color: #000000;
  }
}
