.user-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0px;
}

.user-email {
  font-weight: bold;
  color: black;
}

.logout-btn {
  background-color: #2dc9bc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  background-color: #000000;
}

.login-link,
.register-link {
  text-decoration: none;
  color: #22a186;
  font-weight: bold;
  padding: 5px 10px;
}

.login-link:hover,
.register-link:hover {
  color: #000000;
}
